#!/usr/bin/make -f

export PYBUILD_NAME=keylime
export KEYLIME_CONFIG=$(CURDIR)/debian/keylime.conf
export KEYLIME_TEST=True

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
#	cp $(CURDIR)/keylime.conf $(CURDIR)/debian/keylime.conf
#	dh_auto_test
